src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0f23b8fe-f0da-4cb2-bbe0-02367547a368" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="ddd626f9-d01b-41d9-ac48-ad179fa8523a" >
		<http:listener doc:name="Listener" doc:id="9e38df20-b340-48a2-b83e-0727574ce296" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="DEBUG" doc:name="Logger" doc:id="fbfb39d4-4af8-4d05-823c-9b77d268b4f4" message="#[attributes]" />
		<set-payload value='#["Welcome to Mulesoft"]' doc:name="Set Payload" doc:id="ef6f44db-169e-463e-a57c-45fd9b30d97f" />
		<logger level="INFO" doc:name="Logger" doc:id="a2549d44-c47a-4c7d-81b8-9fed89ec0615" message="#[payload]"/>
	</flow>
</mule>
